@import 'tailwindcss';

:root {
  --background: #fff0f5; /* rosé clarinho (lavenderblush/rosé) */
  --foreground: #171717; /* texto escuro */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* removemos o dark mode fixo */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
